<mat-toolbar>
    <mat-toolbar-row>
        <span>Виртуализация</span>
        <span class="example-spacer"></span>
        <button mat-icon-button><mat-icon>home</mat-icon></button>
        <button mat-icon-button><mat-icon>account_circle</mat-icon></button>
        <button mat-icon-button><mat-icon>settings</mat-icon></button>
        <button mat-icon-button><mat-icon>restore</mat-icon></button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="filter-bar">
    <div style="display: flex">
        <div style="padding: 5px; border-right: 1px solid black">
            <select>
                <option selected>Имя</option>
                <option>ОС</option>
                <option>c</option>
            </select>
            <input/>
        </div>
        <div style="padding: 5px; border-right: 1px solid black">
            <select>
                <option selected>Имя</option>
                <option>ОС</option>
                <option>c</option>
            </select>
        </div>
    </div>
    <button class="create-button">Создать ВМ</button>
</div>
<div class="info-bar">
    21 результат
</div>
<div>
    <mat-grid-list cols="4" rowHeight="2:1" style="background-color: rgb(240, 240, 240);">
        <mat-grid-tile>
            <app-card></app-card>
        </mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
        <mat-grid-tile><app-card></app-card></mat-grid-tile>
    </mat-grid-list>
</div>
