<mat-drawer-container autosize style="height: 100%;">
    <mat-drawer #drawer>
        <form [formGroup]="newVm" (ngSubmit)="createVm(drawer)" class="vm-form">
            <div class="form-header">
                <h2>Создать ВМ</h2>
                <button mat-icon-button type="button" (click)="closeForm(drawer)">
                    <mat-icon>clear</mat-icon>
                </button>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Имя</mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Виртуальные ядра</mat-label>
                <input matInput type="number" min="1" max="32" pattern="^[1-9][0-9]*$" formControlName="vCPU">
                <mat-hint>От 1 до 32</mat-hint>
                <mat-error>Недопустимое значение</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Оперативная память (RAM)</mat-label>
                <input matInput type="number" style="width: 90%;" min="1" max="64" pattern="^[1-9][0-9]*$" formControlName="RAM">
                <span matTextSuffix>Гб</span>
                <mat-hint>От 1 до 64</mat-hint>
                <mat-error>Недопустимое значение</mat-error>
            </mat-form-field>
            <button mat-flat-button type="submit"
            [disabled]="getFormProperty('name')?.invalid
                        || getFormProperty('vCPU')?.invalid
                        || getFormProperty('RAM')?.invalid"
            >Создать</button>
        </form>
    </mat-drawer>

    <mat-toolbar>
        <mat-toolbar-row>
            <mat-icon>view_agenda</mat-icon>
            <span>Виртуализация</span>
            <span class="spacer"></span>
            <button mat-icon-button>
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>account_circle</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button title="Обновить" (click)="getVms()">
                <mat-icon>restore</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <h2 class="info-bar">Виртуальные машины</h2>
    <div class="filter-bar">
        <div style="display: flex">
            <div class="form-wrapper">
                <form>
                    <mat-form-field appearance="outline">
                        <mat-label>Фильтр</mat-label>
                        <mat-select>
                            <mat-option>Имя</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field  appearance="outline">
                        <mat-label>Фильтр по </mat-label>
                        <input matInput>
                    </mat-form-field>
                </form>
            </div>
            <div class="form-wrapper">
                <mat-form-field appearance="outline">
                    <mat-label>Фильтр</mat-label>
                    <mat-select>
                        <mat-option>Имя</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <button mat-flat-button (click)="drawer.toggle()">Создать ВМ</button>
    </div>
    <div class="info-bar">
        {{this.vms.length}} результатов
    </div>
    <div class="spinner_wrapper">
        <div *ngIf="this.getLoadingState">
            <mat-spinner></mat-spinner>
            <h3>{{loadingStateTitle}}</h3>
        </div>
        <mat-grid-list *ngIf="!this.getLoadingState" cols="4" rowHeight="1:1">
            <mat-grid-tile *ngFor="let vm of this.vms">
                <app-card 
                    (onDelete)="removeVm($event)" 
                    (onStart)="startVm($event)" 
                    (onStop)="stopVm($event, {force: false})" 
                    (onStopForce)="stopVm($event, {force: true})"
                    (onPause)="pauseVm($event)"
                    (onResume)="resumeVm($event)"
                    [data]="vm"
                ></app-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-drawer-container>
